.aboutContainer {
  background-color: rgb(68, 24, 68);
  display: grid;
  grid-template-columns: 50% 20%;
  grid-template-rows: auto;
  justify-content: center;
  padding: 75px 0;
  h2 {
    font-size: 36px;
    color: white;
    font-weight: 400;
  }
  p {
    color: white;
    font-weight: 300;
    align-self: center;
  }
}

.bottomGrid {
  h3 {
    color: white;
    font-weight: 300;
    margin: 10px 0;
  }
}

.languageContainer {
  display: flex;
  flex-wrap: wrap;
}

.languageBadge {
  display: flex;
  padding: 10px;
  background-color: rgba(170, 170, 170, 0.5);
  border-radius: 10px;
  margin: 5px 5px 0 0;
  p {
    margin: 0;
  }
}

.flags {
  width: 30px;
  border-radius: 15px;
  margin-right: 5px;
}

.face {
  width: 200px;
  position: relative;
  border: 2px solid rgb(202, 202, 202);
  border-radius: 10px;
  top: 50px;
  left: calc(50% - 100px);
}
