@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap");

body {
  margin: 0;
  font-family: "Jost", sans-serif;
}

html {
  scroll-behavior: smooth;
}

//Scroll Bar

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #aaa;
}
::-webkit-scrollbar-thumb {
  background: #666;

}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
